.row
  .col-md-12
    %h2 Models *index* Page

    %hr

    .well
      %h3 Connecting Wikis
      - sample_query = 'https://research.tsadra.org/index.php?title=Special%3AAsk&q=%5B%5BBuddhism%2C+Sexuality%2C+and+Gender%5D%5D&po=author%0D%0Afulltitle%0D%0Apublisher%0D%0A&eq=yes&p%5Bformat%5D=csv&p%5Bsep%5D=%2C'
      / = link_to 'Fetch Results', sample_query