.row
  .col-md-12
    = link_to 'uploads', baats_path

.row
  .col-md-12
    %h3.text-center PDF Upload Status
    %hr

.row
  .col-md-5
    %h4.text-center Messages
    = render 'shared/flash'
    .upload-alerts

  .col-md-7
    %h4.text-center Pages
    .upload-progress


/ %h3 All PDFs

/ %br

/ = form_for PdfOriginal.new, html: { :class => 'directupload', multipart: true, data: { 'form-data' => (@s3_direct_post.fields), 'url' => @s3_direct_post.url, 'host' => URI.parse(@s3_direct_post.url).host }} do |f|
/   = f.label :pdf_file, "Upload PDFs:"
/   = f.file_field :pdf_file, name: "pdf_file", multiple: true
/   = f.submit 'Save', :class => 'btn'

/ %hr

/ %h4 PDF Gallery
/ #pdf_originals
/   = render @pdf_originals

/ .clear

/ %script#pdf-upload{:type => "text/x-tmpl"}
/   .upload
/     {%=o.name%}
/     .progress
/       .bar{:style => "width: 0%;"}
